<header class="site-header" role="banner">
  <div class="banner-container">
    <img class="banner-image" src="{{ '/assets/images/banner.webp' | relative_url }}" alt="Banner">
  </div>
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
    <nav class="site-nav" aria-label="Main navigation">
      <a class="page-link{% if page.url == '/' %} active{% endif %}"
         href="{{ '/' | relative_url }}">Home</a>
      <a class="page-link{% if page.url contains '/about' %} active{% endif %}"
         href="{{ '/about/' | relative_url }}">About Us</a>
      <a class="page-link{% if page.url contains '/events' %} active{% endif %}"
         href="{{ '/events/' | relative_url }}">Events</a>
      <a class="page-link{% if page.url contains '/wages' %} active{% endif %}"
         href="{{ '/wages/' | relative_url }}">Wages</a>
    </nav>
  </div>
</header>
